<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Springboot App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <h2 class="title">Spring Boot App Title</h2>
      <p class="description">
        <b>SpringBoot</b> application to deploy into <b>AWS</b>.
      </p>
      <form action="/api/v1/users" method="get">
	      <button class="btn-submit">
	        submit
	      </button>
      </form>
    </div>
  </div>
</body>
</html>